.box1 {
  height: 200px;
  width: 800px;
  border: 1px solid black;
  float: left;
}

img{
    float: right;
}
img{
    float: left;
}
img{
    float: none;
}
.box{
    height: 100px;
    width: 100px;
    
}
.box2{
    background-color: green;
    float: left;
}
.box3{
    background-color: red;
    float: left;
}

.box4{
    background-color: yellow;
    height: 400px;
    width: 400px;
    float: right;
    clear: both;
}