@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

:root{
  --page-blue: #4E5DC0;
  --page-blue-hover: #3d4ba9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  background-color: #e5e5e5;
  height: 100vh;
  overflow-x:hidden;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 2rem auto;
  font-family: 'Raleway', sans-serif;
}
ul{
  display: flex;
  gap: 10rem;
  list-style: none;
}
ul li a{
  text-decoration: none;
  font-weight: 1.2rem; 
  font-weight: 600;
  line-height: 20px;
  color: var(--page-blue);
  position: relative;
}
.team::after{
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: var(--page-blue);
  transform: translateX(-50%);
}
nav  img{
  width: 98px;
  height: 82px;
}

nav button{
  background-color: var(--page-blue);
  color: white;
  width: 165px;
  height: 54px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 24px;
  cursor: pointer;
  border: none;

}
nav button:hover{
  background-color: var(--page-blue-hover);
}

.section-1{
  font-family: 'Roboto Flex', sans-serif;
  width: 1200px;
  margin: 7rem auto;
  display: flex;
  gap: 12rem;
}
h2{
  
  font-size: 2.4rem;
}
.heading{
  position: relative;
  
  display: inline-block;
  margin-bottom: 4rem;
}
.section-left .heading::after{
  content: "";
  position: absolute;
  width: 85% ;
  background-color: black;
  height: 1px;
  bottom: -35%;
  left: 0;
}
.section{
  font-size: 1.4rem;
  line-height: 34px;
  opacity: 50%;
  font-weight: 500;
  text-align: justify;
}
.section-1 .section-right img{
  width:500px;
  border-radius: 25px;
}

.heading-2::after{
  content: "";
  position: absolute;
  width: 115% ;
  background-color: black;
  height: 1px;
  bottom: -35%;
  left: 0;
}
.section-left img{
  width: 450px;
  border-radius: 30px;
  
}
.section-2 .section-left{
  margin-right: 5rem;
}

footer{
  background-color: white;
}


