.box1{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(#EECDA3, #EF629F);
    background-image: linear-gradient(to right, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to left, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to top, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to bottom right, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to top right, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to top left, #EECDA3 30%, #EF629F);
    background-image: linear-gradient(to bottom left, #EECDA3 30%, #EF629F);

    /* Indian flag */
    background-image: linear-gradient(orange 33%, white 33%, white 66%, green 66%);
    
}
.box2{
    width: 200px;
    border: 1px solid black;
    height: 200px;
    margin-top: 30px;
    background-image: radial-gradient(#EECDA3, #EF629F);
    background-image: radial-gradient(circle, #EECDA3 50%, #EF629F);
    background-image: radial-gradient(orange 33%, white 33%,white 66%, green);
    background-image: repeating-radial-gradient(orange 10%, white 20%, white 30%, green 40%, green 60%);
}
.textShadow{
    font-size: 100px;
    text-shadow: 3px 3px 5px #EECDA3, 4px 4px 5px #EF629F;
}
.box3{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 50px;
    background-image: linear-gradient(#EECDA3, #EF629F);
    box-shadow: 3px 3px 5px #EECDA3, 4px 4px 5px #EF629F;
}
.boxBorder{
    width: 500px;
    height: 500px;
    margin: 50px;
    border-color: blue;
    border-style: dotted;
    border-style: dashed;
    border-style: solid;
    border-style: double;
    border-style: outset;
    outline: 1px solid red;
    outline-offset: 15px;


}