.box1{
    border: 1px solid black;
    height: 200px;
    width: 400px;
    
    text-align: right;
    text-align: left;
    text-align: center;
    text-align: justify;
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: overline underline line-through;
    text-decoration-color: purple;
}
.box2{
    border: 1px solid black;
    height: 200px;
    width: 400px;
    text-transform: capitalize;
    text-indent: 50px;
    text-align: justify;
    padding: 0px 10px;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 1.5em;
    word-spacing: 20px;

}
.spellcheck{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;

}

